@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">   
    @if (ViewBag.Codigo == 200)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Mensaje
        </div>
    }

    @if (ViewBag.Codigo == 500)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Mensaje
        </div>
    }

    <div class="text-center">
        <h1 class="display-4">WELCOME</h1>
        <p>Administrar base de datos de candidatos</p>
    </div>


    <table class="table table-bordered table-striped table-primary">
        <thead>
            <tr>               
                <th>Nombre</th>
                <th>Apellido</th>
                <th>FechaNacimiento</th>
                <th>Email</th>
                <th>FechaRegistro</th>
                <th>ÚltimaModificación</th>
                <th>Experiencias</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ListCandidate.Count > 0)
            {

                foreach (var candidate in @ViewBag.ListCandidate)
                {
                    <tr>                  
                        <td>@candidate.Name</td>
                        <td>@candidate.Surname</td>
                        <td>@candidate.Birthdate.ToString("dd/MM/yyyy")</td>
                        <td>@candidate.Email</td>
                        <td>@candidate.InsertDate.ToString("dd/MM/yyyy")</td>
                        <td>@candidate.ModifyDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if(candidate.Experiencias.Count > 0){

                                <button class="btn btn-info btn-sm" onclick="toggleExperience(@candidate.IdCandidate)">
                                    Experiencia
                                </button>
                            }
                        </td>                  
                        <td>                        
                            <a href="@Url.Action("Edit", "Candidate", new { id = candidate.IdCandidate })"
                            class="btn btn-primary btn-sm">Editar</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", "Candidate", new { id = candidate.IdCandidate })"
                            class="btn btn-danger btn-sm">Eliminar</a>
                        </td>

                    </tr>

                    @if (candidate.Experiencias.Count > 0)
                    {
                        <tr class="SubTable-@candidate.IdCandidate" style="display: none;">
                            <td colspan="6">
                                <table class="table table-bordered table-warning table-sm">
                                    <thead class="table-warning">
                                        <tr>
                                            <th>Compañia</th>
                                            <th>Puesto</th>
                                            <th>Descripción</th>
                                            <th>Salario</th>
                                            <th>FechaInicio</th>
                                            <th>FechaFin</th>                                     
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var exp in @candidate.Experiencias)
                                        {
                                            <tr>
                                                <td>@exp.Company</td>
                                                <td>@exp.Job</td>
                                                <td>@exp.Description</td>
                                                <td>@exp.Salary</td>
                                                <td>@exp.BeginDate.ToString("dd/MM/yyyy")</td>
                                                <td>@exp.EndDate.ToString("dd/MM/yyyy")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                }
            }else
            {
                  <tr>
                    <td colspan="9">No se encontraron registros</td>
                  </tr>
            }
        </tbody>
    </table>
</div>

<script>      
    function toggleExperience(id) {
        var subTable = document.querySelector(".SubTable-" + id);
        if (subTable.style.display === "none") {
            subTable.style.display = "table-row";
        } else {
            subTable.style.display = "none";
        }
    }
</script>


